@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@source '../node_modules/react-tailwindcss-datepicker/dist/index.esm.{js,ts}';

@theme{
  /* backgrounds */
  --color-background-dark: #111315;
  --color-panel-dark: #1a1c1e;
  --color-panel-hover-dark: #272a30;
  --color-background-success: #32ae60;
  --color-background-warning: #fda447;
  --color-background-error: #ee4917;
  --color-background-info: #276bc7;
  --color-background-accent: #b57dd8;
  --color-background-primary: #0b68e8;
  --color-slate-600: #545663;
  --color-slate-800: #1b1a1d;

  /* foreground */
  --color-text-dark: #fdfdfe;
  --color-text-second-dark: #878a8b;

  /* border */
  --color-border-dark: #262a30;

  --font-display: "Poppins", "sans-serif";
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

:root{
  background: var(--color-background-dark);
  font-family: var(--font-display);
  --opacity-100: 1;
}

.opacity-1 {
  opacity: var(--opacity-100);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #3b3b3b;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8e8e8e;
}

.table {
  border-spacing: 0 10px;
}

i {
  font-size: 1rem !important;
}

.table tr {
  border-radius: 20px;
}


tr th:nth-child(n+4) {
  border-radius: 0 .625rem .625rem 0;
}

tr th:nth-child(1) {
  border-radius: .625rem 0 0 .625rem; 
}

.table tbody tr:last-child {
  border-bottom: none;
}